@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap");



@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-in;
}

